name: Format

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Java 17 setup
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Spotless
        run: mvn spotless:apply

      - name: Google Java Format
        uses: axel-op/googlejavaformat-action@v3.1.0
        with:
          args: --replace --skip-javadoc-formatting --skip-sorting-imports --skip-reflowing-long-strings
